<mat-toolbar color = "primary" style="height: 42px !important; width: 1150px; min-width: -webkit-fill-available;">
    <span>My Application</span>
    <span class="example-spacer"></span>
    <section>
        <div class="example-button-row">
          <button mat-button><span><mat-icon style="margin-top: 10px;">home</mat-icon></span> Home</button>
          <button mat-button>Trutees</button>
          <button mat-button >Professional</button>
          <button mat-button>...More</button>
        </div>
      </section>
      <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <mat-icon>search</mat-icon>
  </mat-toolbar>